<md-sidenav md-component-id="left" class="md-sidenav-left">
  <md-content>
    <a href="#">link 1</a>
    <a href="#">link 2</a>
    <a href="#">link 3</a>
  </md-content>
</md-sidenav>
<header>
  <div class="inner">
    <md-button ng-click="$ctrl.openMenu()">
      MENU
    </md-button>
    <div class="title">
      <h1>myCareer</h1>
      <span>Recruiting & Career Management System</span>
    </div>
    <nav class="button-group">
      <a href="#">A</a>
      <a href="#">B</a>
      <a href="#">C</a>
    </nav>
  </div>
</header>
